.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 4px 3px slategray;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}
.ContactData .Input {
  display: block;
  padding: 10px;
  margin: 5px auto;
  box-sizing: border-box;
}

button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
